h1{
    font-size: smaller;
    text-align: center;
    color: dodgerblue;
    font-family: cursive;
    font-size: 30px;
    font-weight: 900;
    line-height: 9%;
}
/* line-hieght is used for spacacing between lines */
.paraclass{
    
    color: rgb(206, 205, 188);
    background: #000000;
    font-family: "Merienda", cursive;
;
    font-size: 20px;
}
.hello{
    color: rgb(18, 63, 67);
    background-color:hsla(789,80%, 76%   , 54%) ;
}

#atrify{
text-align: justify;
color: rgb(0, 0, 0);
background-color: #dadada;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* in enternal-css we can also use id or class as a selectors tag  */

p,article{
    width: 500px;
}
/* its a group selector use , for grouping tags */

div.paraclass{
text-align: center;
}
/* for specific class in the intier class group use name of class then . and classs name */
span{
color: rgb(40, 81, 0); 
background-color: rgb(255, 177, 177);
border: 3px solid rgb(0, 0, 0);
height: 10px;
width: 200px;
margin: 10px;
padding: 10px;
/* display: block; */
display: inline-block;

}
/* for conversion of inline element to a block element use display:block property */
/*  for conversion of block element to  inline element use diplay :inline property */