.container
{
    background-color: rgba(214, 190, 68, 0.634);
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    flex-direction: coloum;
}


.item
{
    background-color: rgb(214, 221, 148);
    border: 1px solid rgb(0, 0, 0);
     margin: 5px;
    padding: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
